
.calc{
  margin-top: 20px;
  border: 7px solid #aeaeae;
  padding: 20px;
}
.price span{
  font-size: 40px;
  font-weight: 600;
}
.navbar  {
  background-color: #033b45;

}

/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
.mag{
   background-color: #f1f4fa;
}
.navbar-brand {
  text-align: center;
  /* font-family: 'Mali', cursive; */
  font-family: 'Charmonman', cursive;
  font-weight: 600;
  color :#abdfab;
 }
 .navbar-brand:hover{
    color:rgba(255,255,255,.8);
 }
 .nav-link{
   color:rgba(255,255,255,.8);
 }
 .nav-link:hover{
     color :#abdfab;
 }
 .mag{
   background-color: #d5d5d5;
 }

h3,h2{
	text-align: center;
}
header{
  background-color: rgba(0, 191, 255,0.1);
}
.step{

	display:inline-block;
}
.btn-rounded {

    border-radius: 25px;
		height: 35px;
		width: 150px;
    background-color: #ee5f3f;
    color:white;
    text-transform: uppercase;
    font-weight:600;
}

/* Contact Form */
.templatemo_maps {
  margin: 100px 0;
  display: block;
  overflow: hidden;
  height: 400px;
}
.fluid-wrapper {
    position: relative;
    /* padding-bottom: 56.25%;  16:9 */
    height: 0;
}
.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    border: none;
}
.addr {

}
.addr ul {
  padding-left: 0;
}
.addr ul li {
  list-style-type: none;
}
.addr ul li i {
  width: 14px;
  margin-right: 10px;
  margin-bottom: 15px;
  color: #00ACE9;
  font-size: 18px;
  text-align: center;
}
/* End Contact Form */
----------------menu----------------------------
.navbar{
background-color:#3f9384;
  }
.news{
  margin-top: 60px;
}
/* .discussion{
    margin-top: 80px;
} */
.team{
    margin-top: 60px;
}
--------------------------------rfhectkm---------
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,700,300&subset=latin,cyrillic);

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #666;

}
h1,h2,h3,h4,h5,h6{text-align: center;font-weight: 400;}
#quote{
    padding: 50px 0px 300px 0px;
    width: 100%;
    background: #0000ff;
    color: #fff;
}
/* карусель отзывов bootstrap */
/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img
{
  width: 100px;
  height: 100px;
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
