/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
h2 {
  text-align: center;
  /* font-family: 'Mali', cursive;
  font-family: 'Charmonman', cursive;  */
 }
h3{
	text-align: center;
}
header{
  background-color: rgba(0, 191, 255,0.1);
}
.step{

	display:inline-block;
}
.btn-rounded {

    border-radius: 25px;
		height: 35px;
		width: 150px;
    background-color: #ee5f3f;
    color:white;
    text-transform: uppercase;
    font-weight:600;
}
